<!DOCTYPE html>
<html>

<head>
	<title>Domotik 2.0</title>
	<link rel="stylesheet" href="/libs/bootstrap.min.css">
	{{!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">--}}
</head>
<script src="/libs/jquery.min.js"></script>
<script src="/libs/angular.min.js"></script>
<script src="/libs/bootstrap.min.js"></script>
<script src="/libs/angular-sanitize.min.js"></script>
{{!--<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.min.js"></script>--}}

<body>
	{{!-- <h1 class="title">Domotik 2.0</h1> --}}
	<div id="angular" ng-app="myApp" ng-controller="myCtrl" data-ng-app="app" class="container-fluid">
		{{{body}}}
	</div>
</body>

</html>